@font-face{
	font-family: Ubuntu; 
	src: url(../fonts/fonts/Ubuntu-Regular.ttf); 
}
@font-face{
	font-family: Ubuntu; 
	src: url(../fonts/fonts/Ubuntu-Bold.ttf); 
}
@font-face{
	font-family: Ubuntu; 
	src: url(../fonts/Ubuntu-Light.ttf); 
}



body{
	font-family: 'Ubuntu', sans-serif;
}

.header{
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.nav{
	display: flex;
	list-style-type: none;
	justify-content: flex-start;
	align-items: center;
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	color: #202020;
}
.nav>li{
	margin-left: 15px; 
}
.nav>li>a{
	text-decoration: none;
	line-height: 16px;
	font-weight: 700;

}
.nav>li>a:visited{
	color: #202020;
}
.nav .button{
	background: #5B9AFF;
	border-radius: 5px;
	color: #FFF;
	font-weight: bold;
	padding: 5px 15px;
	border: none;
}

.logo{
	display: flex;
	align-items: center;
	text-decoration: none;
}

.logo img{
	display: block;
	width: 100px;
	height: 100px;
}

.logo span{
	font-size: 24px;
	color: #202020;
	font-weight: 700;
}

.page{
	padding-top: 60px;
	padding-bottom: 60px;
	position: relative;
}
.page-top{
	border-top: 1px solid #C2C2C2;
}
.page .button{
	background: #5B9AFF;
	border-radius: 10px;
	font-size: 24px;
	padding: 10px 31px 11px 32px;
	border: none;
	color: #FFF;
	margin-top: 40px;
	margin-bottom: 40px;
}
.page h1{
	font-size: 48px;
	color: #202020;
	font-weight: bold;
}
.page h2{
	position: absolute;
	font-size: 14px;
	font-weight: 300;
	color: #C2C2C2;
	top: -22px;
	background: #FFF;
	padding: 0 20px;
}
.page h3{
	font-size: 22px;
	line-height: 25px;
}
.page p{
	width: 290px;
	font-size: 14px;
	color: #B2B2B2;
	line-height: 16px;
}
.page .hero-text{
	width: 370px;
	color: #4F4F4F;
	font-size: 32px;
	line-height: 51px;
}

.wrap{
	width: 100%;
	max-width: 1180px;
	margin: 0 auto;
	box-sizing: border-box;
}

.departments{
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;
	grid-row-gap: 20px;
}

.dep-item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.dep-item .img{
	flex-basis: 140px;
	text-align: center;
}

.dep-item .text{
	flex-basis: calc(100% - 140px);
}

.lecturers{
	display: grid;
	grid-template: repeat(2, 1fr) / repeat(3, 1fr);
	grid-row-gap: 20px;
}

.lec-item{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.lec-item .img{
	flex-basis: 140px;
	text-align: center;	
}

.lec-item .text{
	margin: 20px;
	flex-basis: calc(100% - 140px);
}

footer{
	background-color: #F7F7F7;
}

.footer{
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-footer{
	display: flex;
}

.logo-footer img{
	display: block;
	width: 100px;
	height: 100px;
}

.social{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	list-style-type: none;
}

.social li{
	margin-right: 20px;
}

.social a{
	text-decoration: none;
	color: #B2B2B2;
	font-size: 24px;
}
